<div class='header'>
    <div class="container">
        <div class="logo">
            <a href="{{ site.baseurl }}"><img alt="{{ site.title }}"
                                              height="{{ site.logo.desktop_height }}" src="{{ site.logo.desktop | relative_url }}"
                                              width="{{ site.logo.desktop_width }}"/></a>
        </div>
        <div class="logo-mobile">
            <a href="{{ site.baseurl }}"><img alt="{{ site.title }}"
                                              height="{{ site.logo.mobile_height }}" src="{{ site.logo.mobile | relative_url }}"
                                              width="{{ site.logo.mobile_width }}"/></a>
        </div>
        {% include main-menu.html %}
        {% include hamburger.html %}
    </div>
</div>
