---
layout: default
bodyClass: "page-home"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col call-box-bottom">
            <img src="/images/call/Fabian.png" alt="Fabian">
            Fabian ist unser Experte für Shopware 6 blablabla.
            <a class="button" href="https://calendly.com/ecommercesorgentelefon/phone-60m">
                Jetzt Termin bei Fabian buchen
            </a>
        </div>
        <div class="col call-box-bottom">
            <img src="/images/call/Ole.jpg" alt="Ole">
            Ole arbeitet seit einigen Jahren bei <a href="https://www.customgento.com/">CustomGento</a> und hat
            dort
            reichlich Erfahrung mit Magento 1 und 2 gesammelt.
            Sein Spezialgebiet hierbei sind Automatisierungen und Prozessoptimierungen.
            <a class="button" href="https://cal.com/ole-schafer-hsh4lj/30min">
                Jetzt Termin bei Ole buchen
            </a>
        </div>
    </div>
</div>
