<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="{{ '/images/favicon-32x32.png' | relative_url }}" rel="icon" type="image/png">
    <!-- Google Fonts CDN -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <!-- Self host font -->
    <!-- <link rel="preload" href="{{ '/assets/fonts/playfair-display.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> -->
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    {% if page.description %}
    <meta content="{{ page.description }}" name="description"/>
    {% endif %}
    {% if page.meta_title %}
    <meta content="{{ page.meta_title }}" property="og:title"/>
    {% else %}
    <meta content="{{ page.title }}" property="og:title"/>
    {% endif %}
    <meta content="website" property="og:type"/>
    <meta content="{{ url }}" property="og:url"/>
    {% if page.image %}
    <meta content="{{ page.image | absolute_url }}" property="og:image"/>
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description"/>
    {% endif %}
    <meta content="summary" name="twitter:card"/>
    {% if site.data.seo.meta_twitter_site %}
    <meta content="{{ site.seo.meta_twitter_site }}" name="twitter:site"/>
    {% endif %}
    {% if site.data.seo.meta_twitter_creator %}
    <meta content="{{ site.seo.meta_twitter_creator }}" name="twitter:creator"/>
    {% endif %}

</head>

<body class='page {{layout.bodyClass}}'>
{% include main-menu-mobile.html %}
<div class="wrapper" id="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
</div>
{% include footer.html %}
{% include sub-footer.html %}
<script src="{{ '/assets/js/scripts.js' | relative_url }}" type="text/javascript"></script>
</body>
</html>
