---
layout: default
bodyClass: "page-home"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt="{{ page.title }}"
                     class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
                     src="{{ page.intro_image | relURL }}"/>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-3 pb-md-3">
        <div class="row justify-content-left" id="people">
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature col call-box-bottom">
                    <h3>Fabian Blechschmidt</h3>
                    <img src="/images/call/Fabian.jpeg" alt="Fabian">
                    <ul class="list-group">
                        <li class="list-group-item">Aussichtslose Bugs</li>
                        <li class="list-group-item">Migrationen</li>
                        <li class="list-group-item">Shopware</li>
                        <li class="list-group-item">Magento 1</li>
                        
                    </ul>
                    <a class="button" href="https://calendly.com/ecommercesorgentelefon/phone-60m">
                        Jetzt Termin bei Fabian buchen
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature col call-box-bottom">
                    <h3>Ole Schäfer</h3>
                    <img src="/images/call/Ole.jpg" alt="Ole">
                    <ul class="list-group">
                        <li class="list-group-item">Datenexporte</li>
                        <li class="list-group-item">Berechnungen</li>
                        <li class="list-group-item">Magento 1</li>
                        <li class="list-group-item">Magento 2</li>
                    </ul>
                    <a class="button" href="https://cal.com/ole-schaefer/30min">
                        Jetzt Termin bei Ole buchen
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature col call-box-bottom">
                    <h3>Simon Sprankel</h3>
                    <img src="/images/call/Simon.jpg" alt="Simon">
                    <ul class="list-group">
                        <li class="list-group-item">Codequalität</li>
                        <li class="list-group-item">Deploymentprozesse</li>
                        <li class="list-group-item">Magento 1</li>
                        <li class="list-group-item">Magento 2</li>
                    </ul>
                    <a class="button" href="https://cal.com/simonsprankel/">
                        Jetzt Termin bei Simon buchen
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature col call-box-bottom">
                    <h3>Thomas von Gostomski</h3>
                    <img src="/images/call/Thomas.jpeg" alt="Thomas">
                    <ul class="list-group">
                        <li class="list-group-item">Automatisierungen</li>
                        <li class="list-group-item">Prozessoptimierungen</li>
                        <li class="list-group-item">Magento 1</li>
                        <li class="list-group-item">Magento 2</li>
                    </ul>
                    <a class="button" href="https://calendly.com/thomas-von-gostomski/telefonat-60-minuten">
                        Jetzt Termin bei Thomas buchen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-3 pb-md-3">
        <div class="row justify-content-center">

            {% for feature in site.data.features %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature">
                    {% if feature.image %}
                    <div class="feature-image">
                        <img alt="{{ feature.title }} logo"
                             height="{{ feature.image.height }}"
                             src="{{ feature.image.url | relative_url }}"
                             width="{{ feature.image.width }}"/></div>
                    {% endif %}
                    <h2 class="feature-title">{{ feature.title }}</h2>
                    <div class="feature-content">{{ feature.description }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
<script>
    const people = document.querySelector('#people');
    for (let i = people.children.length; i >= 0; i--) {
        people.appendChild(people.children[Math.random() * i | 0]);
    }
</script>
